.container{
    display: grid;
    /* grid-template-columns: repeat( 5, 20px);
    grid-template-rows: repeat(5, 20px); */
    /*Filas / Columnas*/
    grid-template: repeat(5, 20px) / repeat(5, 20px);
    /*Espacio entre row*/
    /* row-gap: 5px; */
    /* Filas / COlumna */
    gap: 5px 5px;

    /* Crear areas de grid */
    grid-template-areas: 
        "header     header header   header header"
        "header     header header   header header"
        "main       main   .        sidebar sidebar"
        "main       main   .        sidebar sidebar"
        "footer     footer footer   footer  footer "
    ;
}

.grid-container{
    margin: auto;
    border: 4px dotted turquoise;
    display: grid;
    justify-content:center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.container-item{
    background: papayawhip;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 200px;
    height: 200px;
    
}


.item{
    background-color: papayawhip;
    border: 4px solid hotpink;
    margin: 10px;
}

.container3{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 10px;
}

.tarjeta{
    background-color: red;
}